.u-section-1 {
    background-image: url("images/Map.png");
    background-position: 50% 50%;
}

    .u-section-1 .u-sheet-1 {
        min-height: 971px;
    }

    .u-section-1 .u-text-1 {
        background-image: none;
        font-size: 3.125rem;
        margin: 14px 0 0;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 124px;
        margin-bottom: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 300px;
        background-image: linear-gradient(100deg, #e9f2fa, #77aad9);
    }

    .u-section-1 .u-container-layout-1 {
        padding: 30px 52px;
    }

    .u-section-1 .u-group-1 {
        width: 362px;
        min-height: 123px;
        height: auto;
        margin: 0 auto 0 0;
    }

    .u-section-1 .u-social-icons-1 {
        height: 32px;
        min-height: 16px;
        width: 32px;
        min-width: 16px;
        margin: 0 auto 0 0;
    }

    .u-section-1 .u-icon-1 {
        color: rgb(59, 89, 152) !important;
        height: 100%;
    }

    .u-section-1 .u-text-2 {
        margin: -28px 0 0 auto;
    }

    .u-section-1 .u-btn-1 {
        background-image: none;
        padding: 0;
    }

    .u-section-1 .u-text-3 {
        margin: 20px auto 0 44px;
    }

    .u-section-1 .u-btn-2 {
        background-image: none;
        margin-bottom: 0;
        padding: 0;
    }

    .u-section-1 .u-social-icons-2 {
        height: 32px;
        min-height: 16px;
        width: 32px;
        min-width: 16px;
        margin: -29px auto 0 0;
    }

    .u-section-1 .u-icon-2 {
        color: rgb(197, 54, 164) !important;
        height: 100%;
    }

    .u-section-1 .u-text-4 {
        margin: 18px auto 0 44px;
    }

    .u-section-1 .u-btn-3 {
        background-image: none;
        margin-bottom: 0;
        padding: 0;
    }

    .u-section-1 .u-social-icons-3 {
        height: 32px;
        min-height: 16px;
        width: 32px;
        min-width: 16px;
        margin: -29px auto 0 0;
    }

    .u-section-1 .u-icon-3 {
        color: rgb(85, 172, 238) !important;
        height: 100%;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 300px;
        background-image: linear-gradient(100deg, #77aad9, #e9f2fa);
    }

    .u-section-1 .u-container-layout-3 {
        padding: 30px 0;
    }

    .u-section-1 .u-group-2 {
        width: 416px;
        min-height: 138px;
        height: auto;
        margin: 0 auto 0 50px;
    }

    .u-section-1 .u-text-5 {
        font-size: 1.25rem;
        margin: 0 160px 0 0;
    }

    .u-section-1 .u-icon-4 {
        color: rgb(17, 17, 17) !important;
        font-size: 1.25em;
    }

    .u-section-1 .u-btn-4 {
        background-image: none;
        padding: 0;
    }

    .u-section-1 .u-btn-5 {
        background-image: none;
        border-style: none;
        font-size: 1.25rem;
        margin: 12px auto 0 0;
        padding: 0;
    }

    .u-section-1 .u-text-6 {
        font-size: 1.25rem;
        margin: 12px 0 0;
    }

    .u-section-1 .u-icon-6 {
        color: rgb(17, 17, 17) !important;
        font-size: 1.25em;
    }

    .u-section-1 .u-form-1 {
        height: 313px;
        width: 570px;
        margin: 35px auto 60px;
    }

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 748px;
    }

    .u-section-1 .u-text-1 {
        position: relative;
    }

    .u-section-1 .u-layout-wrap-1 {
        position: relative;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 247px;
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-group-2 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 601px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-group-1 {
        width: 300px;
    }

    .u-section-1 .u-group-2 {
        width: 360px;
        margin-left: 0;
    }

    .u-section-1 .u-text-5 {
        margin-right: 138px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 701px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-form-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-group-2 {
        width: 340px;
    }

    .u-section-1 .u-text-5 {
        margin-right: 130px;
    }

    .u-section-1 .u-form-1 {
        width: 340px;
    }
}

.u-section-2 {
    background-image: none;
}

    .u-section-2 .u-sheet-1 {
        min-height: 392px;
    }

    .u-section-2 .u-text-1 {
        margin: 73px auto 0;
    }

    .u-section-2 .u-social-icons-1 {
        height: 48px;
        min-height: 16px;
        width: 320px;
        min-width: 160px;
        margin: 36px auto 0;
    }

    .u-section-2 .u-icon-4 {
        height: 100%;
    }

    .u-section-2 .u-icon-5 {
        height: 100%;
    }

    .u-section-2 .u-text-2 {
        width: 669px;
        margin: 24px auto 60px;
    }

@media (max-width: 767px) {
    .u-section-2 .u-text-2 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-text-2 {
        width: 340px;
    }
}
