.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color:white
}

    .styled-table thead tr {
        background-color: #57a9d9;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

      /*  .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }*/

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

.message-container {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

label{
    color:white
}

.ef input  {
    height: 40px;
    width: 376px;
    margin-top: 31px;
    margin-left: 700px;
    animation: mymovie 3s forwards;
}

@keyframes mymovie {
    from {
        margin-left: 700px;
    }

    to {
        margin-left: 300px;
    }
}