<link href="~/css/tables.css" rel="stylesheet" />
<form method="post">
    <table class="message-container">
        <tr>

            <td><label for="FirstName">Name:</label></td>
            <td><input type="text" name="FirstName" id="FirstName" /> </td>
        </tr>
        <tr>
            <td><label for="LastName">Surname:</label></td>
            <td><input type="text" name="LastName" id="LastName" /></td>
        </tr>
        <tr>
            <td><label for="Faculty">Faculty:</label></td>
            <td> <input type="text" name="Faculty" id="Faculty" /> </td>
        </tr>
        <tr>
            <td><label for="Mark">Mark:</label></td>
            <td> <input type="text" name="Mark" id="Mark" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="reset" value="Clear" />
                <input style="margin-left:100px" type="submit" value="Add" />
            </td>
        </tr>
    </table>
</form>
