@model StudentModel
    <link href="~/css/tables.css" rel="stylesheet" />
<form method="post">
    <table class="message-container">
        <tr>

            <td><label for="FirstName">Name:</label></td>
            <td><input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" /> </td>
        </tr>
        <tr>
            <td><label for="LastName">Surname:</label></td>
            <td><input type="text" name="LastName" id="LastName" value="@Model.LastName"/></td>
        </tr>
        <tr>
            <td><label for="Faculty">Faculty:</label></td>
            <td> <input type="text" name="Faculty" id="Faculty" value="@Model.Faculty" /> </td>
        </tr>
        <tr>
            <td><label for="Mark">Mark:</label></td>
            <td> <input type="text" name="Mark" id="Mark" value="@Model.Mark"/></td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" value="Edit" />
            </td>
        </tr>
    </table>
</form>
