@model LoginViewModel

<link href="~/css/adminpanel.css" rel="stylesheet" type="text/css" />
<form method="post">
    <div class="panel">
        <div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>Log in</h1></div>
        <div class="form">
            <div style="color:white;">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" placeholder="admin@mail.ru" />
                <span asp-validation-for="Email"></span>
            </div>
            <div style="color:white;">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" placeholder="admin" />
                <span asp-validation-for="Password"></span>
            </div>
            <div style="color:white;">
                <label asp-for="RememberMe"></label><br />
                <input asp-for="RememberMe" />
            </div>

            <div class="login">
                <input style="width:100%; background:transparent; border:none;" type="submit" value="Login" />
            </div>
        </div>
    </div>
</form>