<body style=" background-image: url('/imgs/aboutimg.jpg');">

    <h3 style="text-align: center; color: gray">National Polytehnic Univercity of Armenia</h3>
    <p style="font-size:15px; margin: 60px; margin-bottom: 0px; border: 2px solid; border-bottom: none; color: gray">
        Հայաստանի ազգային պոլիտեխնիկական համալսարանը (ՀԱՊՀ)՝ բարձրագույն ուսումնական հաստատություն է Հայաստանում։
        Համալսարանի կենտրոնական մասնաճյուղը գտնվում է Երևանում։<br />

        Մինչև 1991 թ. համալսարանը հայտնի էր որպես Երևանի Կառլ Մարքսի անվան պոլիտեխնիկական ինստիտուտ կամ
        պարզապես Երևանի Պոլիտեխնիկական Ինստիտուտ՝ ԵրՊԻ (հաճախ ոչ-պաշտոնապես անվանվում էր «Պոլիտեխնիկ»),
        իսկ 1991-2014 թթ. անվանվում էր Հայաստանի պետական ճարտարագիտական համալսարան (ՀՊՃՀ)։
        2014 թ. նոյեմբերի 13-ին ՀՀ Կառավարության որոշմամբ «Հայաստանի պետական ճարտարագիտական համալսարան (Պոլիտեխնիկ)» պետական ոչ առևտրային կազմակերպությունը
        վերակազմավորվել է «Հայաստանի ազգային պոլիտեխնիկական համալսարան» հիմնադրամի։
        <br />
        Հայաստանի ազգային պոլիտեխնիկական համալսարանն իրավաժառանգորդն է Հայաստանի պետական ճարտարագիտական համալսարանի և Կառլ Մարքսի անվան
        Երևանի պոլիտեխնիկական ինստիտուտի, որը հիմնադրվել է 1933 թ.-ին՝ ունենալով ընդամենը 2 ֆակուլտետ և 107 ուսանող։
        Ինստիտուտն աճել է Հայաստանի ինդուստրացման տեմպերին համընթաց և 1980–1985 թթ. հասել իր զարգացման գագաթնակետին՝ ունենալով շուրջ 25000 ուսանող
        և 66-ից ավելի մասնագիտություն՝ դառնալով Հայաստանի խոշորագույն բարձրագույն ուսումնական հաստատությունը և Խորհրդային Միության առաջատար ինժեներական դպրոցներից մեկը։
        Հայաստանի պետական ճարտարագիտական համալսարանը 2014 թ. նոյեմբերի 13-ին վերակազմակերպվեց և վերանվանվեց Հայաստանի ազգային պոլիտեխնիկական համալսարան (ՀԱՊՀ)։
        ՀԱՊՀ կենտրոնական կրթահամալիրը գտնվում է Երևանում, իսկ մասնաճյուղային կրթահամալիրները՝ Գյումրիում, Վանաձորում և Կապանում։
        ՀԱՊՀ կառավարման մարմիններն են Հոգաբարձուների խորհուրդը, Գիտական խորհուրդը, Ռեկտորատը, Ուսանողական խորհուրդը։ <br />
        Համալսարանն ունի հենակետային վարժարաններ Երևանում և մարզերի մասնաճյուղերում, որոնց նպատակն է դեռ դպրոցում որոշել և հավաքագրել շնորհաշատ ապագա ճարտարագետների։
        Համալսարանն իրականացնում է միջին, բարձրագույն և հետբուհական մասնագիտական կրթության 5 հիմնական կրթական ծրագրեր՝ կրտսեր ճարտարագետի, բակալավրի, մագիստրոսի և հետազոտողի որակավորման աստիճանների շնորհումով։
        Բացի ուսումնական ստորաբաժանումներից, Համալսարանում գործում են մի շարք աջակցող ծառայություններ՝ Դասախոսների կատարելագործման կենտրոն, Ընդունելության հարցերի և ուսանողական
        կարիերայի աջակցման կենտրոն, Քոմփյութերային կենտրոն, Գիտատեխնիկական գրադարան՝ ավելի քան 1 միլիոն միավոր գրականությամբ, Տպարան և այլն, ինչպես նաև մշակութային, մարզական, սոցիալական և այլ օբյեկտներ, ուսումնամարզաառողջարարական ճամբարներ։
        Համալսարանն ունի համակարգչային լայն ցանց՝ ավելի քան 1200 ժամանակակից համակարգիչներով և տեխնոլոգիական կարողությամբ մի շարք լսարաններ։
        Այսօր Համալսարանի հազարավոր շրջանավարտներ միավորվել են «ԵրՊԻ-ՀՊՃՀ Շրջանավարտների ասոցիացիա» հասարակական կազմակերպությունում (նախագահ՝ «Տաշիր Գրուպ» ձեռնարկության սեփականատեր Սամվել Կարապետյան)՝ ձգտելով նպաստել իրենց Ալմա Մատերի համակողմանի զարգացմանը։
        Հիմնական կրթական ծրագրերով Համալսարանում այսօր սովորում են ավելի քան 10 հազար ուսանողներ, մագիստրանտներ և ասպիրանտներ։ <br />
        ՀԱՊՀ օտարերկրյա քաղաքացիների ուսուցման բաժանմունքում և այլ դեպարտամենտներում հայերենով և անգլերենով ուսում են ստանում ավելի քան 500 արտասահմանցի ուսանողներ։
        Համալսարանն իր զարգացած գիտահետազոտական համակարգով իրավամբ համարվում է տեխնիկական գիտությունների առաջատար կենտրոն։ ՀԱՊՀ-ն առաջինն էր Հանրապետությունում,
        որ ներդրեց բարձրագույն կրթության երկաստիճան, ապա՝ եռաստիճան համակարգերը,իսկ այսօր հաջողությամբ փորձարկում է կրեդիտների կուտակման և փոխանցման եվրոպական ECTS համակարգը՝ Բոլոնիայի գործընթացի զարգացումներին համահունչ։
        Համալսարանն անդամակցում է Եվրոպական համալսարանների ասոցիացիային, ներգրավված է Եվրոպական և միջազգային այլ կրթական և գիտական բազմաթիվ ծրագրերում (TEMPUS, TACIS, USAID, INTAS, NATO, NISCUPP և այլն)։
    </p>
    <pre style="font-size: 17px; margin: 60px; margin-top: 0px; border: 2px solid; border-top: none; color: gray ">
        Համալսարանի ֆակուլտեներներն են՝ 

        Տեղեկատվական և հեռահաղորդակցական տեխնոլոգիաների ու էլեկտրոնիկայի ինստիտուտ (ՏՀՏԷ ինստիտուտ)։

        «Ալգորիթմական լեզուներ և ծրագրավորում» ամբիոն,
        «Քոմփյութերային համակարգեր և ցանցեր» ամբիոն,
        «Տեղեկատվական տեխնոլոգիաներ և ավտոմատացում» ամբիոն,
        «Տեղեկատվության անվտանգություն և ծրագրային ապահովում» ամբիոն,
        «Կառավարման համակարգեր» ամբիոն,
        «Էլեկտրոնային տեխնիկա» ամբիոն,
        «Միկրոէլեկտրոնիկա և կենսաբժշկական սարքեր» ամբիոն,
        «Էլեկտրոնային չափիչ համակարգեր և չափագիտություն» ամբիոն,
        «Ռադիոսարքավորումներ» ամբիոն,
        «Կապի համակարգեր» ամբիոն,
        «Տնտեսագիտություն և կառավարում (Կապի և տեղեկատվական տեխնոլոգիաների տնտեսագիտություն և կառավարում)» սեկտոր,
        «Միկրոէլեկտրոնային սխեմաներ և համակարգեր» ամբիոն;
        Էներգետիկայի էլեկտրատեխնիկայի ինստիտուտ (ԷԷՏ ինստիտուտ):

        «Ջերմաէներգետիկա և շրջակա միջավայրի պաշտպանություն» ամբիոն,
        «Էներգետիկայի ոլորտի տնտեսագիտություն և կառավարում» ամբիոն,
        «Էլեկտրաէներգետիկա» ամբիոն,
        «Էլեկտրական մեքենաներ և ապարատներ» ամբիոն,
        «Էլեկտրատեխնիկա և էլեկտրաբանեցում» ամբիոն,
        «Բնապահպանություն և կենսագործունեություն» սեկտոր:
        Մեխանիկա մեքենաշինական, տրանսպորտային համակարգերի և դիզայնի ինստիտուտ (ՄՏԴ ինստիտուտ):

        «Դիզայն և կերպարվեստ» ամբիոն,
        «Ճարտարագիտական գրաֆիկա» ամբիոն,
        «Մեխանիկա և մեքենագիտություն» ամբիոն,
        «Մեքենաշինության տեխնոլոգիաներ և ավտոմատացում» ամբիոն,
        «Տնտեսագիտություն և փոխադրումների կազմակերպում» ամբիոն,
        «Տրանսպորտային միջոցներ» ամբիոն,
        «Մեքենաշինության արդյունաբերություն և տրանսպորտի տնտեսագիտություն և կառավարում» սեկտոր:
        Ընդերքաբանության և մետալուրգիայի ֆակուլտետ (ԸՄ ֆակուլտետ):

        «Մետալուրգիա և նյութագիտություն» ամբիոն,
        «Ընդերքաբանություն և շրջակա միջավայրի պահպանություն» ամբիոն,
        «Լեռնամետալուրգիական արդյունաբերության և բնօգտագործման տնտեսագիտություն և կառավարում» սեկտոր:
        Քիմիական տեխնոլոգիաների և բնապահպանական ճարտարագիտության ֆակուլտետ (ՔՏԲՃ ֆակուլտետ):

        «Ընդհանուր քիմիա և քիմիական պրոցեսներ» ամբիոն,
        «Քիմիա-կենսա և բնապահպանական տեխնոլոգիաներ» ամբիոն:
        Կիրառական մաթեմատիկայի և ֆիզիկայի ֆակուլտետ (ԿՄՖ ֆակուլտետ):

        «Մասնագիտական մաթեմատիկական կրթություն» ամբիոն,
        «Ընդհանուր մաթեմատիկական կրթություն» ամբիոն,
        «Ֆիզիկայի» ամբիոն
    </pre>
</body>